:root {
  --green: hsl(160deg, 100%, 30%);
  --gold-lighter: hsl(45deg, 100%, 50%);
  --gold-dark: hsl(45deg, 100%, 40%);
  --gray-black: hsl(0deg, 0%, 0%);
  --gray-very-black: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);
  --grey-border: 8px solid var(--gray-medium);
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

html {
  font-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--gray-black);
  background-color: var(--gray-light);
}

strong {
  color: var(--green);
}

.max-width-wrapper {
  max-width: 600px;
  margin: auto;
  /* padding: 24px; */
  background-color: var(--white);
}

header {
  background-color: var(--white);
}

header,
main {
  padding: 64px 0px;
}

main {
  border-top: var(--grey-border);
  background-color: var(--gray-light);
}

.intro-chunk .title {
  font-size: 1.5rem;
  margin-bottom: 32px;
}

.intro-chunk {
  max-width: 400px;
}

.card {
  background-color: var(--white);
  margin: -24px;
  padding: 24px;
  border-bottom: var(--grey-border);
}

.card h2 {
  margin: -16px 0 0 -40px;
  padding: 16px 48px;
  font-size: 1.25rem;
  width: fit-content;
  background-color: var(--gold-lighter);
  border-bottom: 8px solid var(--gold-dark);
}
